section { min-height: 100vh; height: auto; position: relative; font-family: 'Segoe UI' , sans-serif;}
a { text-decoration: none; color: white;}
/* -- Home Section ---------------------------------- */
#home {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Video Background */
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.5);
}

/* Main Title */
@font-face { font-family: roboto; src: url(../assets/fonts/Roboto-Regular.ttf)}
.main-title {
  position: absolute;
  top: 30%;
  color: white;
  font-family: roboto, sans-serif;
  font-size: 5rem;
}

/* Social Icons */
.social-icons {
  position: absolute;
  top: 60%;
  margin-left: 5px;
}

.social-icons fa-icon {
  font-size: 3rem;
  color: white;
  padding: 7.5px 15px;
  cursor: pointer;
}

.social-icons fa-icon:hover {
  color: #202020;
  background-color: white;
}
/* -- About Section --------------------------------- */
.background {
  position: relative;
  min-height: 100vh;
  height: auto;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233f94f4' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}
.card {
  position: relative;
  top: 5vh;
  height: auto;
  width: 40vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .8);
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column; 
}
.about-img {
  height: 35vh;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 2px 5px 10px 4px rgba(0,0,0,.25);
}
.card-body {
  padding: 0 1.2rem;
}
.card-title {
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}
.card-text {
  font-size: 1.3rem;
  margin-top: 0;
  text-align: justify;
}
.card-button {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(37, 107, 238);
  padding: .5rem;
  margin-top: 3vh;
  border-radius: 5px;
  box-shadow: 2px 5px 10px 4px rgba(0,0,0,.25);
}
.card-button:active {
  transform: translate(0, .3rem);
  box-shadow: 2px 5px 10px 4px rgba(0,0,0,.25);
}

/* -- Projects Section ------------------------------ */
#projects { background-color: orangered; }
/* -- Contact Section ------------------------------- */
#contact { background-color: purple; }
/* -- Footer Section -------------------------------- */
#footer {
  background-color: black;
  min-height: unset;
  height: 150px;
}