<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <router-outlet></router-outlet>
  <!-- Home Section ---------------------------------->
  <section id="home">

    <!-- Particles JS -->
    <!-- <Particles id="tsparticles" [options]="options"></Particles> -->
    
    <!-- Image Background -->
    <img src="../assets/img/banner-background (1).jpg" id="img-background">

    <!-- Video Background -->
    <!-- <video loop muted autoplay id="video-background">
      <source src="../assets/img/video-background.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div> -->

    <!-- Main Title -->
    <h1 class="main-title">Julián Pérez Pesce</h1>
    

    <!-- Social Icons -->
    <div class="social-icons">
      <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" title="Github"></fa-icon></a>
      <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'codepen']" title="Codepen"></fa-icon></a>
      <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="Linkedin"></fa-icon></a>
    </div>
  </section>
  <!-- About Section -------------------------------------->
  <div class="background">
    <section id="about">
      <div class="card">
        <img src="../assets/img/picture.jpg" alt="Julián Pérez Pesce" class="about-img">
        <div class="card-body">
          <h1 class="card-title">About</h1>
          <p class="card-text">Desarrollador Full Stack. Cuento con conocimientos en JavaScript, Angular, NodeJS, Express y un poco de Java. De CSS, conozco y he usado Bootstrap y Material UI. En cuanto a Base de Datos, he trabajado con SQL (MySQL) como Non SQL (MondoDB, Firebase).</p>
          <a [routerLink]="['/resume']" routerLinkActive="active" (click)="scrollToTop()">
            <div class="card-button">Resume</div>
          </a>
        </div>
      </div>
    </section>
  </div>
  <!-- Projects Section ----------------------------------->
  <section id="projects">
    <div class="projects">
      <h1 class="projects-title"></h1>
        <div class="project-group-1">
          <article class="project-item">            
            <div class="project-img">
              <a href="https://julian-portfolio-project-5d6ff.web.app/">
                <img src="../assets/img/nubeala-mockup_1.png" alt="Project nubeala">
              </a>
            </div>
            <div class="project-caption">
              <h4 class="project-title">
                <a href="https://julian-portfolio-project-5d6ff.web.app/">Nubeala</a>
              </h4>
              <h6 class="github-link"><a href="https://github.com" title="Check the code">Github</a></h6>
            </div>
          </article>
          <article class="project-item">
            <div class="project-img">
              <a href="https://julian-portfolio-project-5d6ff.web.app/">
                <img src="../assets/img/nubeala-mockup_1.png" alt="Project nubeala">
              </a>
            </div>
            <div class="project-caption">
              <h4 class="project-title">
                <a href="https://julian-portfolio-project-5d6ff.web.app/">Nubeala</a>
              </h4>
              <h6 class="github-link"><a href="https://github.com" title="Check the code">Github</a></h6>
            </div>
          </article>
          <article class="project-item">
            <div class="project-img">
              <a href="https://julian-portfolio-project-5d6ff.web.app/">
                <img src="../assets/img/nubeala-mockup_1.png" alt="Project nubeala">
              </a>
            </div>
            <div class="project-caption">
              <h4 class="project-title">
                <a href="https://julian-portfolio-project-5d6ff.web.app/">Nubeala</a>
              </h4>
              <h6 class="github-link"><a href="https://github.com" title="Check the code">Github</a></h6>
            </div>
          </article>
        </div>
        <div class="project-group-2">
          <article class="project-item">
            <div class="project-img">
              <a href="https://julian-portfolio-project-5d6ff.web.app/">
                <img src="../assets/img/nubeala-mockup_1.png" alt="Project nubeala">
              </a>
            </div>
            <div class="project-caption">
              <h4 class="project-title">
                <a href="https://julian-portfolio-project-5d6ff.web.app/">Nubeala</a>
              </h4>
              <h6 class="github-link"><a href="https://github.com" title="Check the code">Github</a></h6>
            </div>
          </article>
          <article class="project-item">
            <div class="project-img">
              <a href="https://julian-portfolio-project-5d6ff.web.app/">
                <img src="../assets/img/nubeala-mockup_1.png" alt="Project nubeala">
              </a>
            </div>
            <div class="project-caption">
              <h4 class="project-title">
                <a href="https://julian-portfolio-project-5d6ff.web.app/">Nubeala</a>
              </h4>
              <h6 class="github-link"><a href="https://github.com" title="Check the code">Github</a></h6>
            </div>
          </article>
          <article class="project-item">
            <div class="project-img">
              <a href="https://julian-portfolio-project-5d6ff.web.app/">
                <img src="../assets/img/nubeala-mockup_1.png" alt="Project nubeala">
              </a>
            </div>
            <div class="project-caption">
              <h4 class="project-title">
                <a href="https://julian-portfolio-project-5d6ff.web.app/">Nubeala</a>
              </h4>
              <h6 class="github-link"><a href="https://github.com" title="Check the code">Github</a></h6>
            </div>
          </article>
        </div>
    </div>
  </section>
  <!-- Contact Section ------------------------------------>
  
  <div class="background">
    <section id="contact">
      
      <!-- Mail to link -->
      <a href="mailto:estrotococoa@gmail.com" class="contact-mail" target="_blank" rel="noopener">
        Contact <span class="mail-color">me</span>
      </a>

      <!-- Video Background -->
      <!-- <video loop muted autoplay id="video-background-2">
        <source src="../assets/img/video-background.mp4" type="video/mp4">
      </video> -->
      
      <!-- Bussines Card Mockup -->
      <a href="mailto:estrotococoa@gmail.com" target="_blank" rel="noopener" title="Click to send email">
        <img src="../assets/img/julian - bussines-card.png" alt="julian business card" class="business-card">
      </a>
      
    </section>
  </div>
  <!-- Footer Section ------------------------------------->
  <section id="footer">
    <div class="footer-icons">
      <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" title="Github" style="margin-left: 0;"></fa-icon></a>
      <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'codepen']" title="Codepen"></fa-icon></a>
      <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="Linkedin"></fa-icon></a>
      <p class="footer-text">Julián design 2020</p>
    </div>
  </section>
</div>
