<div class="wrapper">
  <!-- Home Section --------------------------------------->
  <section id="home">
    <!-- Video background -->
    <video loop muted autoplay id="video-background">
      <source src="../assets/img/video-background.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div> 
    <!-- Main Title -->
    <h1 class="main-title">Julián Pérez Pesce</h1>
  </section>
  <!-- About Section -------------------------------------->
  <section id="home"></section>
  <!-- Projects Section ----------------------------------->
  <section id="projects"></section>
  <!-- Contact Section ------------------------------------>
  <section id="contact"></section>
  <!-- Footer Section ------------------------------------->
  <section id="footer"></section>
</div>
